<h3 class="text-center mb-3">
    投稿画面
</h3>

<%= form_with(model: @book, local: true) do |f| %>
    <div class="form-group">
        <%= f.label :image, '本の画像（必須）' %>
        <%= f.file_field :image %>
    </div>
                
    <div class="form-group">
        <%= f.label :name, '本の名前（必須）' %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>
                
    <div class="form-group">
        <P>本のジャンル（必須）</P>
        <%= f.radio_button :genre, "小説" %>
        <%= f.label :genre, "小説" %>
        <%= f.radio_button :genre, "マンガ" %>
        <%= f.label :genre, "マンガ" %>
        <%= f.radio_button :genre, "学習本" %>
        <%= f.label :genre, "学習本" %>
        <%= f.radio_button :genre, "その他" %>
        <%= f.label :genre, "その他" %>
    </div>
                
    <div class="form-group">
        <%= f.label :content, "本の概要(必須）" %>
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
    </div>
    <%= f.submit "投稿", class: 'btn btn-primary btn-block' %>
<% end %>