<div class="mt-3 bg-light p-3 rounded">
    <%= form_with(model: @review, local: true) do |f| %>
        <%= f.hidden_field :book_id, :value => book.id %>
        <p>レビュー入力欄</p>
        <div class="form-group">
            <%= f.label :content, 'コメント(必須）' %>
            <%= f.text_area :content, class: 'form-control' %>
        </div>
    
        <p>本の評価（必須）</p>     
        <div class="form-group">
            <%= f.radio_button :evaluation, 1 %>
            <%= f.label :evaluation, "1:非常に悪い" %>
            <%= f.radio_button :evaluation, 2 %>
            <%= f.label :evaluation, "2:悪い" %>
            <%= f.radio_button :evaluation, 3 %>
            <%= f.label :evaluation, "3:普通" %>
            <%= f.radio_button :evaluation, 4 %>
            <%= f.label :evaluation, "4:良い" %>
            <%= f.radio_button :evaluation, 5 %>
            <%= f.label :evaluation, "5:非常によい" %>
        </div>
        <%= f.submit "レビューを投稿", class: 'btn btn-primary btn-sm' %>
    <% end %>
</div>